@keyframes scroll {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.scrolling-text {
  display: inline-blocks;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  animation: scroll 1s linear infinite;
}
